@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');

:root {
    --padding:  30px 80px 0;
    --Green: #B9FF66;
    --Gray: #F3F3F3;
    --Dark: #191A23;
    --White: #FFFFFF;
    --Black: #000000;
}
* {
    box-sizing: border-box;
}

body {
    padding: var(--padding);
    font-family: "Space Grotesk", sans-serif;
}

/* Header Section */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo {
    display: flex;
}

header ul {
    display: flex;
    align-items: center;
    gap: 40px;
    list-style: none;
}

header ul li {
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    cursor: pointer;
    background-image: linear-gradient(to right, var(--Green), var(--Green) );
    background-size: 0% 2px; 
    background-position: 0% 100%;
    background-repeat: no-repeat;
}

header ul li:not(:last-child):hover {
    background-size: 100% 4px; 
    transition: background-size 0.3s ease;
}

header ul li button {
    padding: 20px 35px;
    border-radius: 15px;
    background-color: transparent;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
}

header ul li button:hover {
    background-color: var(--Green);
    transition: 1s ease;
}

header button {
    width: 50px;
    height: 50px;
    background-color: transparent;
    border: none;
    display: none;
}

/* Hero section */

.hero-section {
    width: 100%;
    margin: 50px 0;
    display: flex;
    justify-content: space-between;
}

.hero-text {
    width: 50%;
}

.hero-text h3 {
    font-size: 70px;
    font-weight: 500;
    margin: 0 8px;
}

.hero-text p {
    font-size: 20px;
    font-weight: 400;
}

.hero-text button {
    margin: 20px 0;
    padding: 20px 35px;
    border-radius: 15px;
    background-color: var(--Black);
    color: var(--White);
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    font-family: "Space Grotesk", sans-serif;
}

.hero-image {
    width: 50%;
}

.hero-image img {
    width: 100%;
}

/* Partnerships section*/
.partners-section {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    /* grid-template-columns: repeat(7, 1fr); */
    gap: 70px;
    justify-content: space-between;
    filter: grayscale(5);
}

/* Services section */
.services {
    margin: 70px 0;
}
.services-intro {
    display: flex;
    align-items: center;
    gap: 40px;
}

.services-intro h2 {
    background-color: var(--Green);
    font-size: 40px;
    font-weight: 500;
    padding: 0 5px;
    border-radius: 8px;
}

.services-intro p {
    font-size: 20px;
}

.services-container {
    width: 100%;
    margin: 40px 0 70px;
    display: grid;
    gap: 40px;
    grid-template-columns: repeat(2, 1fr);
}

.service-card {
    flex: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 2px solid black;
    padding: 50px;
    border-radius: 45px;
    box-shadow: 0 8px 0 var(--Black);
}

.service-card h4 {
    width: fit-content;
    margin: 0;
    font-size: 30px;
    padding: 2px 5px;
    border-radius: 8px;
    font-weight: 600;
}

.service-card.one {
    background-color: var(--Gray);
}

.service-card.one h4,
.service-card.four h4 {
    background-color: var(--Green);
}

.service-card.two {
    background-color:var(--Green) ;
}

.service-card.two h4,
.service-card.three h4,
.service-card.five h4,
.service-card.six h4 {
    background-color: var(--White);
}

.service-card.three {
    background-color: var(--Black);
}

.service-card.three p,
.service-card.six p {
    color: var(--White);
}

.service-card.four {
    background-color: var(--Gray);
}

.service-card.five {
    background-color: var(--Green);
}

.service-card.six {
    background-color: var(--Black);
}


.service-card .card-cta {
    margin: 70px 0 0;
    display: flex;
    align-items: center;
    gap: 10px;
}

.card-cta button {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: none;
}

.service-card.one .card-cta button,
.service-card.two .card-cta button,
.service-card.four .card-cta button,
.service-card.five .card-cta button {
    background-color: var(--Black);
}

.service-card.three .card-cta button,
.service-card.six .card-cta button {
    background-color: var(--White);
}

.service-card.three .card-cta svg,
.service-card.six .card-cta svg {
    fill: #000000;
}

.proposal-section {
    margin: 100px 0;
    width: 100%;
    /* height: 347px; */
    display: flex;
    justify-content: space-between;
    background-color: var(--Gray);
    padding: 0 60px;
    border-radius: 45px;
}

.proposal-section div {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.proposal-section div h5 {
    font-size: 30px;
    font-weight: 600;
    margin: 0;
}

.proposal-section div p {
    font-size: 20px;
}

.proposal-section div button {
    margin: 20px 0;
    width: 320px;
    padding: 20px 35px;
    border-radius: 15px;
    background-color: var(--Black);
    color: var(--White);
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    font-family: "Space Grotesk", sans-serif;
}

.proposal-section img {
    height: 380px;
}

/* Case studies section */
.case-studies_intro {
    display: flex;
    align-items: center;
    gap: 40px;
}

.case-studies_intro h2 {
    background-color: var(--Green);
    font-size: 40px;
    font-weight: 500;
    padding: 0 5px;
    border-radius: 8px;
}

.case-studies_intro p {
    font-size: 20px;
}

.case-wrapper {
    display: flex;
    gap: 64px;
    background-color: var(--Black);
    color: var(--White);
    padding: 70px 60px;
    border-radius: 45px;
}

.case-wrapper .case-study {
    padding: 0 40px;
    background-color: var(--Black);
}

.case-wrapper > .case-study:nth-child(2) {
    border-right: 2px solid white;
    border-left: 2px solid white;
}

.case-study div {
    display: flex;
    align-items: center;
    gap: 20px;
}

.case-study div p {
    color: var(--Green);
    font-size: 20px;
}

.case-study img {
    width: 17px;
    height: 17px;
}

/* Work process section */

.work-process-section {
    margin: 90px 0;
}

.working-process-wrapper {
    margin: 45px 0;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.work-tab {
    padding: 41px 60px;
    border-radius: 45px;
    box-shadow: 1px 4px var(--Black);
    border: 1px solid var(--Black);
    background-color: var(--Gray);
}

.work-tab-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.work-tab div {
    display: flex;
    gap: 20px;
}

.work-tab div h1 {
    font-size: 60px;
    margin: 0;
    font-weight: 600;
}

.work-tab div h2 {
    font-size: 30px;
    font-weight: 600;
}

.work-tab button {
    height: 58px;
    width: 58px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.work-tab .minus-icon {
    display: none;
}

.work-tab p {
    display: none;
    padding: 15px 0 0;
    border-top: 1px solid var(--Black);
}


/* Team Section */
.team-wrapper {
    margin: 40px 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
}

.team-member {
    border-radius: 45px;
    padding: 40px 35px;
    border: 1px solid var(--Black);
    box-shadow: 0 4px var(--Black);
}

.team-member .title {
    display: flex;
    gap: 30px;
    /* align-items: flex-end; */
    padding: 25px 0;
    border-bottom: 2px solid var(--Black);
}

.team-img {
    width: 120px;
    height: 120px;
    background-color: var(--Green);
    box-shadow: 2px 4px var(--Black);
    clip-path: polygon(
        50% 0%, 61% 35%, 98% 35%, 68% 57%, 
        79% 91%, 50% 70%, 21% 91%, 32% 57%, 
        2% 35%, 39% 35%
    );
}

div .circle {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: var(--Black);
    display: flex;
    justify-content: center;
    align-items: center;
}

.circle h2 {
    color: var(--Green);
    font-weight: bolder;
    font-size: 30px;
    margin: 0;
}

.team-member .title h5 {
    font-size: 18px;
}

.team-member .title p,
.team-member .title h5 {
    margin: 1px;
}

.team-member .text {
   margin: 25px 0;
}

.team-cta {
    display: flex;
    justify-content: flex-end;
}

button.see-team {
    width: 250px;
    background-color: var(--Black);
    padding: 20px 35px;
    border-radius: 14px;
    border: none;
    background-color: var(--Black);
    color: var(--White);
    font-size: 20px;
}

/* Testimonials section */ 
.testimonials-section {
    margin: 70px 0;
}

.testimonial-container {
    margin: 30px 0;
    width: 100%;
    height: 620px;
    border-radius: 45px;
    padding: 70px 0;
    background-color: var(--Black);
    color: var(--White);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.testimonial-wrapper {
    display: flex;
    overflow-x: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;
    gap: 50px;
}

.testimonial-wrapper::-webkit-scrollbar {
    display: none;
}

.testimonial-card-message {
    border: 1px solid var(--Green);
    border-radius: 45px;
    padding: 50px;
    width: 600px;
}

.testimonial-card h6 {
    color: var(--Green);
    font-size: 20px;
    margin-bottom: 1px;
    margin-left: 70px;
}

.testimonial-card .role-title {
    margin-left: 70px;
    margin-top: 1px;
}

.controls {
   background-color: #000000;
   display: flex;
   justify-content: space-around;
}

.controls svg {
    fill: #FFFFFF;
}


/* Contact us section */
.contact-form {
    margin: 30px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 45px;
    background-color: var(--Gray);
    padding: 60px 100px;
    position: relative;
    overflow: hidden;
}

.contact-form form {
    flex-basis: 50%;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.contact-options {
    display: flex;
    align-items: center;
    gap: 20px;
}

.contact-options div {
    display: flex;
    align-items: center;
}

.contact-options input {
    width: 28px;
    height: 28px;
}

.contact-options input:checked {
    accent-color: var(--Green);
}

.contact-input {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.contact-input label {
    font-size: 14px;
    font-weight: 500;
}

.contact-input input {
    width: 100%;
    height: 60px;
    border-radius: 14px;
    padding: 18px 30px;
}

.contact-form textarea {
    width: 100%;
    height: 200px;
    padding: 18px 30px;
    border-radius: 14px;
}

.contact-form img {
    height: 600px;
    position: absolute;
    right: -290px;
}

.contact-form button {
    width: 100%;
    height: 70px;
    padding: 20px 30px;
    border-radius: 14px;
    color: var(--White);
    background-color: var(--Black);
    border: none;
}

.contact-form button:hover {
    opacity: 0.8;
}

footer {
    margin: 150px 0 0 0;
    background-color: var(--Black);
    color: #F3F3F3;
    border-radius: 45px 45px 0 0;
    padding: 50px 60px;
}

.footer-links-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer-links-wrapper ul {
    display: flex;
    list-style: none;
    gap: 40px;
}

.footer-links-wrapper li a {
    color: var(--Gray);
    font-size: 18px;
}

.footer-links-wrapper .cta {
    display: flex;
    align-items: center;
    gap: 20px;
}

.footer-links-wrapper button {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

footer .contact-info-wrapper {
    margin: 30px 0 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 40px;
    border-bottom: 1px solid var(--White);
}

.contact-info {
    flex-basis: 1;
}

footer h4 {
    background-color: var(--Green);
    color: #000000;
    font-weight: 500;
    padding: 0 5px;
    border-radius: 5px;
    width: fit-content;
}

footer form {
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 60px 40px;
    background-color: #292A32;
}

footer form input {
    width: 290px;
    height: 67px;
    padding: 33px 35px;
    background-color: transparent;
    border-radius: 14px;
    border: 1px solid var(--White);
}

footer form input::placeholder {
    color: var(--White);
}

footer form button {
    width: 249px;
    height: 68px;
    padding: 20px 35px;
    background-color: var(--Green);
    color: var(--Black);
    border-radius: 14px;
    font-size: 20px;
}

footer span {
    font-size: 18px;
    padding-right: 35px;
}

footer a.privacy {
    color: var(--White);
}




@media (max-width:900px) {
    body{
        padding: 30px 30px;
    }

    header ul {
        display: none;
    }

    header button {
        display: block;
    }

    .hero-section {
        align-items: center;
        flex-direction: column;
    }

    .hero-text {
        width: 100%;
    }

    .hero-text h3 {
        font-size: 50px;
    }

    .hero-image {
        width: 100%;
    }

    .hero-image img {
        width: 80%;
    }

    .service-card {
        flex-direction: column;
    }

    .case-wrapper {
        background-color: transparent;
        overflow-x: scroll;
        scrollbar-width: none;
        padding: 30px;
        border-radius: 0;
        gap: 30px;
    }

    .case-wrapper::-webkit-scrollbar {
        display: none;
    }

    .case-wrapper .case-study *{
        padding: 20px;
        border-radius: 45px;
        width: 400px;  
    }

    .team-wrapper {
        grid-template-columns: repeat(2, 1fr);
    }

    .contact-form {
        padding: 30px;
    }

    .footer-links-wrapper {
        flex-direction: column;
    }

    footer .contact-info-wrapper  {
        gap: 20px;
        flex-direction: column;
        align-items: flex-start;
    }
}

@media (max-width:600px) {
    body{
        padding: 30px 10px 0;
    }

    header ul {
        display: none;
    }

    header button {
        display: block;
    }
    
    .hero-section {
        flex-direction: column;
    }

    .hero-text {
        width: 100%;
    }

    .hero-text h3 {
        font-size: 50px;
    }

    .hero-image,
    .hero-image img {
        width: 100%;
    }

    .partners-section {
        grid-template-columns: repeat(2, 1fr);
        gap: 30px;
    }
    
    .services-intro,
    .case-studies_intro  {
        flex-direction: column;
        gap: 10px;
    }

    .services-container {
        grid-template-columns: repeat(1, 1fr);
    }

    .service-card {
        flex-direction: column;
    }

    .proposal-section {
        flex-direction: column;
        padding: 0 20px;
    }

    .proposal-section img {
        order: -1;
    }

    .case-wrapper {
        background-color: transparent;
        overflow-x: scroll;
        scrollbar-width: none;
        padding: 30px;
        border-radius: 0;
        gap: 30px;
    }

    .case-wrapper::-webkit-scrollbar {
        display: none;
    }

    .case-wrapper .case-study *{
        padding: 20px;
        border-radius: 45px;
        width: 400px;  
    }

    .work-tab {
        padding: 41px 30px;
    }

    .work-tab div h1 {
        font-size: 45px;
    }

    .work-tab div h2 {
        font-size: 20px;
    }

    .work-tab button {
        height: 35px;
        width: 40px;
    }

    .work-tab button img {
        width: 14px;
        height: 14px;
    }

    .team-wrapper {
        grid-template-columns: repeat(1, 1fr);
    }

    .team-cta {
        justify-content: center;
    }

    .testimonial-card-message {
        width: 350px;
        padding: 10px;
    }

    .contact-form {
        padding: 25px;
    }

    .contact-form form {
        flex-basis: 100%;
    }

    .contact-options {
        padding: 10px 20px;
        justify-content: space-between;
    }

    .contact-form img {
        display: none;
    }

    footer {
        padding: 20px;
    }

    .footer-links-wrapper,
    .footer-links-wrapper ul {
        flex-direction: column;
        /* justify-content: center; */
        /* text-align: center; */
    }

    footer .contact-info-wrapper  {
        gap: 20px;
        flex-direction: column;
    }

    footer .contact-info-wrapper h4,
    footer .contact-info-wrapper p {
        text-align: center;
    }

    footer form {
        flex-direction: column;
        width: 98%;
        border-radius: 20px;
    }

    footer form button,
    footer form input{
        width: 250px;
    }

    footer span, 
    footer a.privacy {
        text-align: center;
        display: block;
        font-size: 14px;
        margin: 6px 0;
    }
}